.home {
}

.top {
  background: linear-gradient(-180deg, #f53d2d, #f63);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.125rem;
}

.top__info {
  padding-left: 24px;
  padding-right: 24px;
}

.favs__header {
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favs__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
}

.favs__logo {
  color: #ee4d2d;
  display: flex;
  align-items: center;
}

.favs__search {
  padding: 4px 80px 4px 4px;

  border: 2px solid grey;
}

.main__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  align-items: center;
}

.image__container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
